# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# mbed
.build
.mbed
projectfiles
*.py*
mbed-os/

BUILD/DISCO_L475VG_IOT01A/ARMC6/.profile-ld
.mbed
BUILD
HTS221
json.hpp

COMPONENT_ism43362/
COMPONENT_ism43362
